@import "tailwindcss";

body {
    background-color: #0e1116;
    color: #e0f7fa; /* icy blue */
  }
  
  input, textarea {
    background-color: #1c2128;
    color: #e0f7fa;
    border: 1px solid #80deea;
  }
  
  select option {
    background-color: #1c2128;
    color: #e0f7fa;
  }
  
  
  